:root{
    --primary-color: #131f63;
    --secondary-color: #ffffff;
    --font-family: 'Arial', sans-serif;
    --font-size: 16px;
    --spacing: 20px;
}

.body{
    font-family: var(--font-family);
    font-size: var(--font-size);
    margin: 10px;
    padding: 10px;
    background-color: #131f63;
}


.header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--spacing);
    text-align: center;
}

.header nav ul {
    list-style: none;
    padding: 0;
}

.header nav ul li {
    display: inline;
    margin-right: 10px;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
}

/* Estilo para as seções */
section {
    padding: var(--spacing);
    margin: var(--spacing) 0;
    background-color: white;
    border-radius: 8px;
}

/* Estilo da seção Home */
.home {
    background-color: #ecf0f1;
}

/* Estilo da seção Sobre */
.sobre {
    background-color: #f9f9f9;
}

/* Estilo da seção Contato */
.contato {
    background-color: #e9f7ef;
}

/* Rodapé */
.footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: var(--spacing);
    position: fixed;
    bottom: 0;
    width: 100%;
}